.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-large{
    font-size: 1.3rem;
}

.main-border {
    border: solid 1px var(--border-clr);
    border-radius: 10px;
}

.main-shadow{
    box-shadow: 0px 2px 5px 0px #818181;
}


.clear-children-style * {
    font-size: inherit;
    border: none;
    background: none;
}

.main-input-positioning{
    max-width: 600px;
    margin: auto;
    padding: 10px;
}



.mark-default{
    background-color: var(--mark-clr-default);
}

.mark-red{
    background-color: var(--mark-clr-red);
}

.mark-orange{
    background-color: var(--mark-clr-orange);
}

.mark-yellow{
    background-color: var(--mark-clr-yellow);
}

.mark-green{
    background-color: var(--mark-clr-green);
}

.mark-green-blue{
    background-color: var(--mark-clr-green-blue);
}

.mark-blue{
    background-color: var(--mark-clr-blue);
}

.mark-dark-blue{
    background-color: var(--mark-clr-dark-blue);
}

.mark-purple{
    background-color: var(--mark-clr-purple);
}

.mark-pink{
    background-color: var(--mark-clr-pink);
}

.mark-brown{
    background-color: var(--mark-clr-brown);
}

.mark-grey{
    background-color: var(--mark-clr-grey);
}