:root{
    --border-clr:#cbcbcb;

    --logo-blue: #4285f4;
    --logo-red: #ea4335;
    --logo-yellow: #fbbc05;
    --logo-green: #34a853;


    --mark-clr-default: #ffffff;
    --mark-clr-red: #f28b82;
    --mark-clr-orange: #fbbc04;
    --mark-clr-yellow: #fff475;
    --mark-clr-green: #ccff90;
    --mark-clr-blue: #cbf0f8;
    --mark-clr-green-blue: #a7ffeb;
    --mark-clr-dark-blue: #aecbfa;
    --mark-clr-purple: #d7aefb;
    --mark-clr-pink: #fdcfe8;
    --mark-clr-brown: #e6c9a8;
    --mark-clr-grey: #e8eaed;

}