section.note-filter {
    margin-bottom: 20px;
}

section.note-filter input {
    flex-grow: 1;
}

section.note-filter .filter-label{
    position: relative;
    display: flex;
}

section.note-filter .filter-label::before {
    content: 'Search...';
    position: absolute;
    left: 0;
    bottom: 0;
}